version: '3'
services:
  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: compass-data
      MYSQL_USER: compass-user
      MYSQL_PASSWORD: compass-password
    # to see all command options, docker run -it --rm mysql:latest --verbose --help
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --default-time-zone=Asia/Tokyo
    ports:
      - 3306:3306
    volumes:
      - mysql-db:/var/lib/mysql
  elasticsearch:
    build:
      context: ./elasticsearch
      dockerfile: Dockerfile
    hostname: es01
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - 'ES_JAVA_OPTS=-Xms512m -Xmx512m'
      - 'TZ=Asia/Tokyo'
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - 9200:9200
    volumes:
      - es-data:/usr/share/elasticsearch/data
  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.0
    environment:
      - ELASTICSEARCH_HOSTS=http://es01:9200
      - I18N_LOCALE=ja-JP
    mem_limit: 1g
    depends_on:
      - elasticsearch
    ports:
      - 5601:5601
  saml_general_idp:
    build:
      context: ./saml-general-idp
      dockerfile: Dockerfile
    environment:
      SIMPLESAMLPHP_SP_ENTITY_ID: http://localhost:3000
      SIMPLESAMLPHP_SP_ASSERTION_CONSUMER_SERVICE: http://localhost:3000/api/auth/user/saml/idps/1/callback
      SIMPLESAMLPHP_SP_SINGLE_LOGOUT_SERVICE: http://localhost:3000/api/auth/user/saml/idps/1/logout
      SIMPLESAMLPHP_IDP_ADMIN_PASSWORD: secret
    ports:
      - '8001:8080'
  saml_aad_idp:
    build:
      context: ./saml-aad-idp
      dockerfile: Dockerfile
    environment:
      SIMPLESAMLPHP_SP_ENTITY_ID: http://localhost:3000
      SIMPLESAMLPHP_SP_ASSERTION_CONSUMER_SERVICE: http://localhost:3000/api/auth/user/saml/idps/2/callback
      SIMPLESAMLPHP_SP_SINGLE_LOGOUT_SERVICE: http://localhost:3000/api/auth/user/saml/idps/2/logout
      SIMPLESAMLPHP_IDP_ADMIN_PASSWORD: secret
    ports:
      - '8002:8080'
volumes:
  mysql-db:
    driver: local
  es-data:
    driver: local
