@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #a0a0a8;
  }
  html {
    @apply overflow-y-scroll;
  }
  .tooltip {
    @apply invisible absolute transition-all delay-0;
  }
  .has-tooltip:hover .tooltip {
    @apply visible z-30 delay-500;
  }
  .markdown {
    @apply p-2 text-base leading-7 text-zinc-800;
  }
  .markdown h1 {
    @apply mt-8 mb-6 border-b-1 text-4xl font-medium;
  }
  .markdown h2 {
    @apply my-6  border-b-1 text-3xl font-medium;
  }
  .markdown h3 {
    @apply my-4 text-2xl font-medium;
  }
  .markdown h4 {
    @apply my-4  text-xl font-medium;
  }
  .markdown h5 {
    @apply my-4 text-lg font-medium;
  }
  .markdown h6 {
    @apply my-4  text-base font-medium;
  }
  .markdown p {
    @apply my-4;
  }
  .markdown code {
    @apply mx-1 bg-gray-100 px-1;
  }
  .markdown pre {
    @apply my-4 bg-gray-50 px-1;
  }
  .markdown pre > code {
    @apply mx-0 bg-inherit px-0;
  }
  .markdown blockquote {
    @apply border-l-4 border-l-gray-300 pl-2;
  }
  .markdown img {
    @apply my-4 border-1 border-gray-300;
  }
  .markdown ul {
    @apply list-disc pl-6;
  }
  .markdown ol {
    @apply list-decimal pl-6;
  }
}
